<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Backbase Rich Portal</string>
	<key>uuid</key>
	<string>B0A01BF4-AFFC-4630-8063-4F85110BC2D7</string>
</dict>
</plist>
